<!doctype html>
<html>
    <head>Demo</head>
    <body>
        {{> header}}
        <p>
            My name is {{name}}.<br>
            I am {{age}} years old. <br>
            My birth Year is {{birthYear}} 
        </p>
        {{> footer}}
    </body>
</html>